$col-primary: #ee9601;

// auth
$col-auth-titles-background-light: darken($col-primary, 5%);
$col-auth-titles-background-dark: darken($col-primary, 33%);
$col-text-auth-title-big: #ffffff;
$col-text-auth-title-small: rgba(#ffffff, 0.65);
$col-text-auth-version: darken($col-primary, 53%);

// sidebar
$col-sidebar-background: #e9eaed;
$col-sidebar-text: rgba($col-primary, 0.7);
$col-footer-text: $col-primary;
$col-sidebar-active-elem-text: rgba($col-sidebar-text, 1);
$col-sidebar-active-elem-background: #f2f2f4;

$col-btn: #057c48;
$col-button-disabled: rgba($col-btn, 0.7);
$col-text-page-heading: $col-primary;

$col-text: $col-primary;
$col-top-bar-tab-active: $col-btn;
$col-field-txt: $col-primary;
$col-link: $col-btn;
$col-chart: $col-text;
$col-chart-text: $col-chart;
$col-app-content-background: #f6f8fb;
$col-top-bar-background: #ffffff;

$col-text-secondary: darken($col-primary, 33%);
$col-btn-txt: #ffffff;
$col-message-box-text: #ffffff;
